<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>{% block title %}Track That Thing{% endblock %}</title>
    <meta name="description" content="Free GPS Location Tracking Service for Android" />
    <meta name="keywords" content="GPS,Location Tracking,Tracking,Android,Google App Engine,GAE,Location,Real-time,Real-time Location Tracking,Real time,Real time location tracking" />

    <!-- jquery ui css: -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" type="text/css" media="screen" />

    <!-- site css files: -->
    <link rel="stylesheet" href="/resources/css/main.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/resources/css/big-button.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/resources/css/jquery.gritter.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/resources/css3-social-signin-buttons/current/auth-buttons.css" type="text/css" media="screen" />
    {% block more_css %}{% endblock %}


    <!-- Include external files and scripts here (See HTML helper for more info.) -->
    <script src="http://www.google.com/jsapi?key=ABQIAAAAXi35bzrpwN2AF47hDQg7MxQaE1L9XjiIOiPGeXL1LsrjSbcemRT-77geU2wfXOO687R3eXaYUcmdZQ" type="text/javascript"></script>
    <script type="text/javascript">
     google.load("jquery", "1.7.1");
     google.load("jqueryui", "1.8.16");
    </script>
    <script type="text/javascript" src="/resources/js/defaultText.js"></script>
    <script type="text/javascript" src="/resources/js/buttonStyles.js"></script>
    <script type="text/javascript" src="/resources/js/jquery.gritter.min.js"></script>
    <script type="text/javascript" src="/resources/js/jquery.tmpl.min.js"></script>
    {% block more_js %}{% endblock %}

    <!--
    Icons on map pushpins by Joseph Wain: http://www.glyphish.com/
    -->

  </head>
  <body>

    <div id="main-container">
      <a href="/">

        <div id="header">
          <table>
            <tr>
              <td><img src="/resources/images/ttt_s.png"></td>
              <td><div id="yalt-header">Track That Thing</div></td>
            </tr>
          </table>
        </div>

      </a>
      <ul id="menubar">
        <li class="menuitem"><a href="/">Home</a></li>
        <li class="menuitem"><a href="/live/" style="font-weight: bold;">Live Map</a></li>
        <li class="menuitem"><a href="/download/">Download</a></li>
        <li class="menuitem"><a href="/about/">About</a></li>
        <li class="menuitem"><a href="/help/">Help</a></li>
        {% if user.is_staff %}
          <li class="menuitem"><a href="/ttt_admin/">Admin</a></li>
        {% endif %}
        <li class="menuitem right">
          {% if user.is_authenticated %}
            <span id="username"><a href="/live/">{{ user }}</a></span> | <a href="{% url 'auth:logout' %}?next=/">Logout</a>
          {% else %}
            <a class="btn-auth btn-google" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Sign in with <b>Google</b></a>
          {% endif %}
        </li>
      </ul>

      <div id="main-content">
        {% block content %}{% endblock %}
      </div>

      <div id="footer">&copy; <a href="http://mgalgs.github.com">Mitchel Humpherys</a>, <a href="http://benzurcher.com">Ben Zurcher</a> {{ this_year }}</div>
    </div>

    {% if lsecret %}
      <input type="hidden" name="secret" value="{{ lsecret }}" />
    {% else %}
      {% if secret %}
        <input type="hidden" name="secret" value="{{ secret }}" />
      {% endif %}
    {% endif %}

  </body>
</html>
