<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
  </head>
  <body style="font-size:2em;">
{% if user.is_authenticated %}
  <div id="secret-code-spot" style="padding:.5em;">
    Hello, {{ current_user }}! Your secret code is
    <span style="font-weight:bold;" id="the-secret-code">{{ secret }}</span>
    <br/>
    <br/>
    <div>Copy your secret code:</div>
    <input style="padding:.5em; margin:.5em; font-weight:bold; border: 4px solid gray;" type="text" value="{{ secret }}" />
    <div>and paste it into the <i>TrackThatThing</i> application on your phone</div>
  </div>
{% else %}
  Hilo there you mobile phone! Get your secret <a href="/accounts/login?next=/secret">here</a>.
{% endif %}
  </body>
</html>
