<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <style>
     * {
         font-size:80px;
     }
     input[type=text], input[type=url], input[type=email], input[type=password], input[type=tel] {
         -webkit-appearance: none; -moz-appearance: none;
         display: block;
         margin: 0;
         width: 100%;
         border: 2px solid #bbb;
     }
    </style>
  </head>
  <body style="font-size:2em;">
    {% if user.is_authenticated %}
      <div id="secret-code-spot" style="padding:.5em;">
        Hello, {{ user }}! Your tracking code is
        <span style="font-weight:bold; font-size:larger;" id="trackingCode">{{ secret }}</span>
        <p>Copy your code and paste it into the <i>TrackThatThing</i> application.</p>
      </div>
    {% else %}
      <p style="padding:15px;">
        Hello there! Get your tracking code <a id="login-button" href="{% url 'social:begin' 'google-oauth2' %}?next=/secret">here</a>.
      </p>
    {% endif %}
  </body>
</html>
