input[name=theSecret] {
   width: 150px;
}
.info-window-top .info-window-item {
   padding: 2px 0px;
}
.info-window-top .info-window-item div {
   display: table-cell;
}
.info-window-top .info-window-item .info-window-left {
   width: 100px;
   text-align: right;
   font-weight: bold;
   padding-right: 10px;
}
.info-window-top .info-window-item .info-window-right {
   font-family:monospace;
}
