{% extends "base.html" %}
{% block content %}

<div class="story">
  <h4>Background</h4>
  <p>
    I recently needed to share my location in real-time with my wife
    using my Android phone. All the existing location tracking
    services were disgusting and difficult to set up, and none of the
    free ones were real time. So I set out to make a better, free-er
    alternative; and <i>Track That Thing</i> was born.
  </p>

  <h4>Credits</h4>
  <p>
    I need to give credit to a few
    people. <a href="http://benzurcher.com">Ben Zurcher</a>, for
    helping me accomplish my goal of making this site less disgusting
    than the
    alternatives. <a href="https://github.com/commonsguy">Mark
    Murphy</a>, for his
    wonderful <a href="https://github.com/commonsguy/cwac-locpoll">CWAC
    Location Poller</a> module, without which I would still be
    debugging Android
    IntenServices. <a href="http://penandthink.com/">Joseph Wain</a>,
    for his awesome <a href="http://glyphish.com/">glyphish</a> icon
    set.
  </p>
</div>

{% endblock %}
