{% extends "base.html" %}
{% block more_js %}
  <script type="text/javascript" src="/resources/js/admin.js"></script>
{% endblock %}
{% block content %}
  <h5>All your base</h5>
  <div id="new-test-point" class="button">Insert Test Point</div>
  <div id="start-inserting-test-points" class="button">Start Repeatedly Inserting Test Points</div>

  <h3>Secrets ({{ secrets.count }})</h3>
  <table cellspacing="0" cellpadding="8" border="1">
    <tr>
      <th>Email</th>
      <th>Readable Secret</th>
      <th>Secret</th>
      <th>Iterations to Find Secret</th>
    </tr>
    {% for secret in secrets %}
      <tr>
	<td>{{ secret.user.nickname }}</td>
	<td>{{ secret.secret_readable }}</td>
	<td><a href="/view_data?secret={{ secret.secret }}">{{ secret.secret }}</a></td>
	<td>{{ secret.niters }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
