<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>

    <!-- jquery ui css: -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/themes/base/jquery-ui.css" type="text/css" media="screen" />

    <!-- site css files: -->
    <link rel="stylesheet" href="/resources/css/main.css" type="text/css" media="screen" />
    {% block more_css %}{% endblock %}


    <!-- Include external files and scripts here (See HTML helper for more info.) -->
   <script src="http://www.google.com/jsapi?key=ABQIAAAAXi35bzrpwN2AF47hDQg7MxQaE1L9XjiIOiPGeXL1LsrjSbcemRT-77geU2wfXOO687R3eXaYUcmdZQ" type="text/javascript"></script>
   <script type="text/javascript">
     google.load("jquery", "1.4.2");
     google.load("jqueryui", "1.8.5");
   </script>
   <script type="text/javascript" src="/resources/js/defaultText.js"></script>
    {% block more_js %}{% endblock %}

  </head>
  <body>

    <h1>Top</h2>
    <div id="menubar">
      <div class="menuitem"><a href="/">Home</a></div>
      <div class="menuitem">
	{% if current_user %}
	  Hi {{ current_user.nickname }}. <a href="{{ logout_url }}">Logout</a>
	{% else %}
	  <a href="{{ login_url }}">Login</a>
	{% endif %}
      </div>
      {% if is_admin %}
	<div class="menuitem">Go to <a href="/admin">admin</a> area.</div>
      {% endif %}
    </div>

    <div class="maincontent">
      {% block content %}{% endblock %}
    </div>

    <h1>Bottom</h2>

  </body>
</html>


