<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>

    <!-- jquery ui css: -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/themes/base/jquery-ui.css" type="text/css" media="screen" />

    <!-- site css files: -->
    <link rel="stylesheet" href="/resources/css/main.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/resources/css/big-button.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/resources/css/jquery.gritter.css" type="text/css" media="screen" />
    {% block more_css %}{% endblock %}


    <!-- Include external files and scripts here (See HTML helper for more info.) -->
   <script src="http://www.google.com/jsapi?key=ABQIAAAAXi35bzrpwN2AF47hDQg7MxQaE1L9XjiIOiPGeXL1LsrjSbcemRT-77geU2wfXOO687R3eXaYUcmdZQ" type="text/javascript"></script>
   <script type="text/javascript">
     google.load("jquery", "1.4.2");
     google.load("jqueryui", "1.8.5");
   </script>
   <script type="text/javascript" src="/resources/js/defaultText.js"></script>
   <script type="text/javascript" src="/resources/js/buttonStyles.js"></script>
   <script type="text/javascript" src="/resources/js/jquery.gritter.min.js"></script>
    {% block more_js %}{% endblock %}

  </head>
  <body>

    <div id="main-container">
      <div id="header">
	<span id="yalt-header">yalt</span>
	<span id="sub-header">{ Yet Another Location Tracker }</span>
      </div>
      <ul id="menubar">
	<li class="menuitem"><a href="/">Home</a></li>
	<li class="menuitem"><a href="/live" style="font-weight: bold;">Live Map</a></li>
	<li class="menuitem"><a href="/about">About</a></li>
	<li class="menuitem"><a href="/help">Help</a></li>
	{% if is_admin %}
	  <li class="menuitem"><a href="/admin">Admin</a></li>
	{% endif %}
	<li class="menuitem right">
	  {% if current_user %}
	    <span id="username"><a href="/live">{{ current_user.nickname }}</a></span> | <a href="{{ logout_url }}">Logout</a>
	  {% else %}
	    <a href="{{ login_url }}">Login</a>
	  {% endif %}
	</li>
      </ul>

      <div id="main-content">
	{% block content %}{% endblock %}
      </div>

      <div id="footer">This is the site footer</div>
    </div>

    {% if lsecret %}
      <input type="hidden" name="secret" value="{{ lsecret }}" />
    {% else %}
      {% if secret %}
	<input type="hidden" name="secret" value="{{ secret }}" />
      {% endif %}
    {% endif %}

  </body>
</html>


