{% extends "base.html" %}
{% block more_js %}
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" src="/resources/js/live.js"></script>
{% endblock %}
{% block more_css %}
  <link rel="stylesheet" href="/resources/css/live.css" type="text/css" media="screen" />
{% endblock %}
{% block content %}

  <div id="google-ad-live" style="padding-bottom:20px;">
    <script type="text/javascript"><!--
                                       google_ad_client = "ca-pub-1879819899696805";
                                       /* ttt */
                                       google_ad_slot = "5771324807";
                                       google_ad_width = 728;
                                       google_ad_height = 15;
                                       //-->
    </script>
    <script type="text/javascript"
            src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
  </div> <!-- google-ad-live -->

  <div style="padding:15px 0px;">
    <div style="font-size:1.3em; display:none;" id="live-map-for-container">
      Live Map for
      <span id="current-map-for">
	{% if current_user %}{{ current_user.nickname }}{% endif %}
      </span>
      <span style="font-size:1em;">[<span class="pseudo-link" id="change-secret">Change</span>]</span>
      [<a href="#" id="map-permalink">Public link to this map for sharing</a>]
    </div>
    <div id="secret-change-area" style="display:none;">
      <input name="theSecret" type="text" class="defaultText" value="" title="Enter secret" />
      <div id="change-secret-go">Go!</div>
    </div>
  </div>

  <div id="maps-n-things" style="visibility:hidden;">
    <div class="button" id="toggle-autorefresh">Enable Autorefresh</div>

    <div style="margin: 20px 0px;">
      <div id="map-canvas" style="height:600px;width:900px;"></div>
    </div>

    <div>
      Max number of points to display: <input type="text" value="30" style="width:50px;" id="num-points" />
    </div>
    <div>
      Discard points that are over
      <select id="oldness">
	<option value="30">30 seconds</option>
	<option value="60">1 minute</option>
	<option value="180">3 minutes</option>
	<option value="300">5 minutes</option>
	<option value="600">10 minutes</option>
	<option value="1800" selected="selected">30 minutes</option>
	<option value="3600">1 hour</option>
	<option value="21600">6 hours</option>
	<option value="43200">12 hours</option>
	<option value="86400">1 day</option>
	<option value="172800">2 days</option>
	<option value="259200">3 days</option>
	<option value="604800">1 week</option>
	<option value="1209600">2 weeks</option>
	<option value="2592000">1 month</option>
	<option value="31536000000000">1 million years</option>
      </select>
      old.
    </div>
    <div class="button" id="apply-changes">Apply</div>
    <br/>
    <div>
      Currently showing <span id="how-many-points">0</span> points.
    </div>
    <br/>
    <div>
      Map broken? Click <a href="#" id="broken-map">here</a>.
    </div>
  </div>


  <!-- the template for the InfoWindow: -->
  <script id="info-window-template" type="text/x-jquery-tmpl">
    <div class="info-window-top">
      <h5 style="padding-bottom:10px;">${date} UTC</h5>
      <div class="info-window-item">
	<div class="info-window-left">Latitude:</div>
	<div class="info-window-right">${latitude}</div>
      </div>
      <div class="info-window-item">
	<div class="info-window-left">Longitude:</div>
	<div class="info-window-right">${longitude}</div>
      </div>
      <div class="info-window-item">
	<div class="info-window-left">Accuracy:</div>
	<div class="info-window-right">${accuracy}</div>
      </div>
      <div class="info-window-item">
	<div class="info-window-left">Speed:</div>
	<div class="info-window-right">${speed}</div>
      </div>
    </div>
  </script>

  <div id="hide-me" style="display:none;"></div>

  <div id="inactive-dialog" style="display:none;">
    <p>Auto update has been disabled due to inactivity. Click ok to re-enable.</p>
  </div>
{% endblock %}
