.big-button {
   font-size: 30px;
   font-weight: bold;
   background: Gainsboro;
   color: Black;
   border: 3px solid #505050;
   padding: 10px;
   border-radius: 10px;
   -moz-border-radius: 10px;
   display: inline-block;
}
.big-button:visited {
   color: Black;
}