* {
   font-family: verdana, trebuchet MS;
   font-size: 13px;
}
h1, h2, h3, h4, h5, h6 {
   padding: 0px;
   margin: 0px;
}
body {
   text-align: center;
   background: #D0D0D0;
}
a {
   text-decoration: none;
   color: RoyalBlue;
}
a:visited {
   color: Navy;
}
#main-container {
   width: 950px;
   margin: 15px auto;
   text-align: left;
   border: 2px solid #808080;
   padding: 25px;
   -moz-border-radius: 20px;
   -webkit-border-radius: 20px;
   -khtml-border-radius: 20px;
   border-radius: 20px;
   background: snow;
   box-shadow: 0px 0px 50px #707070;
}
#main-content {
   min-height: 300px;
}
#yalt-header {
   font-size: 55px;
   font-weight: bold;
   font-family: Georgia, Helvetica;
   color: black;
   margin-left: 30px;
}
#sub-header {
   font-size: 13px;
}
#footer {
   color: gray;
   text-align: center;
}
ul#menubar {
   border: 5px solid #808080;
   padding: 0px;
   background: #505050;
}
ul#menubar li.menuitem, ul#menubar li.menuitem a {
   color: white;
}
ul#menubar li.menuitem {
   display: table-cell;
   padding: 10px 0px;
}
ul#menubar li.menuitem a:hover {
   background: #707070;
}
ul#menubar li.menuitem #login-button:hover {
    background: inherit;
}
#login-button {
    position: relative;
    top: -11px;
    left: 13px;
}
#login-button img {
    width: 120px;
}
ul#menubar li.menuitem a {
   font-weight: bold;
   padding: 10px;
}
ul#menubar li.menuitem.right {
   float: right;
   position: relative;
   bottom: 37px;
}
input.defaultText {
   width: 300px;
}
input.defaultTextActive {
   color: #a1a1a1;
   font-style: italic;
}
input.title {
   font-size:2em;
   margin:0.5em 0;
   border:2px solid #bbb;
}
input[type="text"], input[type="password"] {
   border: 1px solid gray;
   height: 20px;
   margin: 10px;
   padding: 4px;
}
.pseudo-link {
   cursor:pointer;
   color: blue;
   text-decoration: underline;
}
#main-button-container {
   text-align: center;
   padding: 10px 0px;
}
#main-button-container p {
   text-align: left;
   margin: 0 auto;
   width: 200px;
}
div.instructions {
   width: 350px;
   background: LightBlue;
   border: 2px solid black;
   text-align: left;
   padding: 12px;
}
#username {
   font-weight: bold;
}
#secret-code-spot {
   font-size: 14px;
   text-align: center;
   color: Black;
   background: Gainsboro;
   border: 3px solid Green;
   padding: 10px;
   border-radius: 10px;
   -moz-border-radius: 10px;
   margin: 0 auto;
   width: 650px;
}
#the-secret-code {
   font-weight: bold;
   text-size: larger;
}
.story {
   width: 500px;
   margin: 20px auto;
}
.story .story-par {
   background: GainsBoro;
   padding: 15px;
   margin-bottom: 10px;
   border-radius: 10px;
   -moz-border-radius: 10px;
}
.story h4 {
   margin-top: 30px;
}
code {
   font-family: monospace;
}
.code-block {
   font-family: monospace;
   padding: 10px;
   margin: 10px 20px;
   border: 1px dashed black;
   background: LightGrey;
}
.quiet {
   color: gray;
}